<a href="https://colab.research.google.com/github/Manel-MH/Sales-Predictions/blob/main/Project1_Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 1 Part 1 

Mount Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Import Libraries

In [ ]:
#import libraries
import pandas as pd
import numpy as np

Load Data

In [ ]:
#create a file name 
SalesPredictions = "/content/drive/MyDrive/Colab Notebooks/datasets/sales_predictions.csv"
#load data 
df_SalesPredictions = pd.read_csv(SalesPredictions)
#check head of data
print(df_SalesPredictions.head())
#check tail of data
print(df_SalesPredictions.tail())
#check data as df
df_SalesPredictions.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]
     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[5 rows x 12 columns]

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

Week 2 Part 2

Explore Data

Check columns datatype in df_SalesPredictions

In [ ]:
#check info on df_SalesPredictions
df_SalesPredictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

Check shape of df_SalesPredictions

In [ ]:
#check shape of df_SalesPredictions
#this output gives us numbers of (rows, columns)
df_SalesPredictions.shape

(8523, 12)

Check for and remove any duplicates in df_SalesPredictions

In [ ]:
df_SalesPredictions.duplicated().any()

False

In [ ]:
print('There are no duplicated rows (repeated data points) in this dataset.')

There are no duplicated rows (repeated data points) in this dataset.

Check for missing values

In [ ]:
#is there missing values ?
#we always want .isnull().sum() to return zero
#.isnull().sum() != 0, we have missing values
df_SalesPredictions.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
print('There are 1463 missing values for the column Item_Weight and 2410 missing values for the column Outlet_Size.')

There are 1463 missing values for the column Item_Weight and 2410 missing values for the column Outlet_Size.

In [ ]:
#is there irrelevant data/ mis-categorized data?
#run a .value_counts per column
Item_IdentifierIrr = df_SalesPredictions['Item_Identifier'].value_counts() 
Item_IdentifierIrr

FDW13    10
FDG33    10
FDV38     9
NCB18     9
FDV60     9
         ..
FDT35     1
FDK57     1
FDC23     1
FDN52     1
FDQ60     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [ ]:
Item_WeightIrr = df_SalesPredictions['Item_Weight'].value_counts() 
Item_WeightIrr

12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.560      2
9.420      1
5.400      1
6.520      1
7.685      1
Name: Item_Weight, Length: 415, dtype: int64

In [ ]:
Item_Fat_ContentIrr = df_SalesPredictions['Item_Fat_Content'].value_counts()
Item_Fat_ContentIrr 
print(Item_Fat_ContentIrr)             
Item_VisibilityIrr = df_SalesPredictions['Item_Visibility'].value_counts()
Item_VisibilityIrr 
print(Item_VisibilityIrr)                
Item_TypeIrr = df_SalesPredictions['Item_Type'].value_counts() 
Item_TypeIrr
print(Item_TypeIrr)                     
Item_MRPIrr = df_SalesPredictions['Item_MRP'].value_counts()
Item_MRPIrr
print(Item_MRPIrr)                         
Outlet_IdentifierIrr = df_SalesPredictions['Outlet_Identifier'].value_counts()
Outlet_IdentifierIrr 
print(Outlet_IdentifierIrr)               
Outlet_Establishment_YearIrr = df_SalesPredictions['Outlet_Establishment_Year'].value_counts()
Outlet_Establishment_YearIrr
print(Outlet_Establishment_YearIrr)        
Outlet_SizeIrr = df_SalesPredictions['Outlet_Size'].value_counts()
Outlet_SizeIrr 
print(Outlet_SizeIrr)                  
Outlet_Location_TypeIrr = df_SalesPredictions['Outlet_Location_Type'].value_counts()
Outlet_Location_TypeIrr 
print(Outlet_Location_TypeIrr)             
Outlet_TypeIrr = df_SalesPredictions['Outlet_Type'].value_counts()
Outlet_TypeIrr 
print(Outlet_TypeIrr)                     
Item_Outlet_SalesIrr = df_SalesPredictions['Item_Outlet_Sales'].value_counts()
Item_Outlet_SalesIrr 
print(Item_Outlet_SalesIrr)

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64
0.000000    526
0.076975      3
0.041283      2
0.085622      2
0.187841      2
           ...
0.092576      1
0.067544      1
0.115168      1
0.146896      1
0.050902      1
Name: Item_Visibility, Length: 7880, dtype: int64
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64
172.0422    7
188.1872    6
170.5422    6
109.5228    6
196.5084    6
           ..
212.8218    1
190.3872    1
162.6868    1
189.1214    1
51.3008     1
Name: Item_MRP, Length: 5938, dtype: int64
OUT027    935
OUT013    932
OUT049    930
OUT035    930
OUT046    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64
1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64
Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64
958.7520     17
1342.2528    16
1845.5976    15
703.0848     15
1278.3360    14
             ..
3167.8764     1
2226.4352     1
1684.4740     1
1574.6170     1
6692.6216     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

Clean up the Item_Fat_Content

A .value.counts() on the column Item_Fat_Content turns up that the categories Low Fat or Regular are not reported uniformaly throughout the dataset. We need to have this uniform. We will change all entries into Low Fat or Regular where appropriate.

In [ ]:
#we need only two categories Low Fat or Regular
#replacing values of cells in particular column
df_SalesPredictions['Item_Fat_Content'].replace(['low fat','LF','reg'],['Low Fat','Low Fat','Regular'],inplace = True)

In [ ]:
Item_Fat_ContentIrr = df_SalesPredictions['Item_Fat_Content'].value_counts()
Item_Fat_ContentIrr 
print(Item_Fat_ContentIrr)

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

Strategy to handle missing values

In [ ]:
# continuous variable Item_Weight
# filling missing values 
# with mean column values
# create a variable mean and assign it the mean of the column Item_Weight
mean = df_SalesPredictions['Item_Weight'].mean()
df_SalesPredictions['Item_Weight'].fillna(value = mean, inplace=True)

In [24]:
# to check if I managed to handle missing values
# .isnull().sum() != 0, we have missing values
df_SalesPredictions.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
#categorical variable Outlet_Size
#Treat missing data as just another category : Unknown
df_SalesPredictions['Outlet_Size'].fillna('unknown', inplace=True)

In [ ]:
Outlet_SizeIrr = df_SalesPredictions['Outlet_Size'].value_counts()
Outlet_SizeIrr 
print(Outlet_SizeIrr)

Medium     2793
unknown    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

Some stats

In [ ]:
#stats on the dataframe
#DESCRIBE - statistical summary of each column, such as count, column mean value, column standard deviation
#Note: item visibility needs to be multiplied by 100; the best column to look at stats summary is Item_Oulet_Sales
df_SalesPredictions.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]